.users {

  h1,h2,h3 {
    text-align: center;
  }
  margin: 15px;
  &__item {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    &_isAuth {
      grid-template-columns: 1fr 1fr 1fr .4fr;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

}

.selectedPage {
  font-weight: bold;
}

.avatar {
  width: 50px;

}