header {
 display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #677482;
  padding:10px;
  text-align: center;
 align-items: center;

 & .logout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
 }

 .Contacts, .logo {
  color: #fafafa;
 }
}

