.navbar {
  //display: flex;
  //flex-direction: column;
  //background-color: orange;
  //width: 20%;
  //align-items: center;
  //grid-template-rows: 30px;
  display: grid;
  vertical-align: middle;
  background-color: #fff;
  padding: 10px;
  height: 200px;
position: relative;
  & a {
    padding: 5px;
    text-decoration: none;
    &:hover {
      background-color: slategrey;
      color:whitesmoke;
    }
  }
}