.app-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas:
          "h h"
           "nav content";
  grid-template-rows: 80px auto ;
  grid-template-columns: 2fr 10fr;
}

header {
  grid-area: h;
}

.navbar {
  grid-area: nav;
}
.content {
  grid-area: content;
  margin-left: 1rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: white;
  border: 1px solid white;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #212529;
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;

}
.btn:hover {
  color: #fff;
  background-color: #789AA9;
  border-color: #A9C0D6;;
}

.btn:disabled {
  opacity: .2;
}
